@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    @apply antialiased scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-tight;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}